<!-- templates/surat/sktm_form.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Pengajuan SKTM</title>
    <link rel="stylesheet" href="{% static 'css/surat/domisili.css'%}">
</head>
<body>
    <nav>
        <div class="brand">Pelayanan Desa</div>
        <div>
            <a href="{% url 'home' %}">Beranda</a>
            <a href="{% url 'logout' %}">logout</a>
            <a href="{% url 'cek_status' %}">Cek Status</a>
            <a href="{% url 'tentang' %}">Tentang</a>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
  
    <h2>Form Pengajuan SKTM</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Kirim Pengajuan</button>
    </form>
</body>
</html>
