{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pengajuan Pindah Datang</title>
    <link rel="stylesheet" href="{% static 'css/daftar_pindah.css' %}">
</head>
<body>
    <nav class="admin-navbar" data-aos="fade-down">
  <div class="admin-navbar-content">
    <div class="admin-brand">
      <link rel="stylesheet" href="{% static 'img/logo tegar.png' %}">
      <div class="admin-title">
        <h1>Halo, Admin!</h1>
        <p>Selamat datang di Dashboard</p>
      </div>
    </div>
    <ul class="admin-nav-links">
     <li> <a href="{% url 'announcement_manage'%}">Buat Berita</a></li>
     <li> <a href="{% url 'home'%}">Home</a></li>
    </ul>
  </div>
</nav>
    <h2>Daftar Pengajuan Surat Pindah Datang</h2>
    <table>
        <thead>
            <tr>
                <th>Nama</th>
                <th>NIK</th>
                <th>Tanggal Pengajuan</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for item in pengajuan %}
            <tr>
                <td>{{ item.nama }}</td>
                <td>{{ item.nik }}</td>
                <td>{{ item.tanggal_pengajuan }}</td>
                <td>{{ item.status }}</td>
                <td><a href="{% url 'detail_pengajuan_pindah_datang' item.pk %}">Detail</a></td>
            </tr>
            {% empty %}
            <tr><td colspan="5">Belum ada pengajuan.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
