<!-- templates/admin/daftar_sku.html -->
{%load static%}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pengajuan SKU</title>
    <link rel="stylesheet" href="{% static 'css/daftar_pindah.css' %}">
</head>
<body>
     <nav class="admin-navbar" data-aos="fade-down">
  <div class="admin-navbar-content">
    <div class="admin-brand">
      <link rel="stylesheet" href="{% static 'img/logo tegar.png' %}">
      <div class="admin-title">
        <h1>Halo, Admin!</h1>
        <p>Selamat datang di Dashboard</p>
      </div>
    </div>
    <ul class="admin-nav-links">
     <li> <a href="{% url 'announcement_manage'%}">Buat Berita</a></li>
     <li> <a href="{% url 'home'%}">Home</a></li>
    </ul>
  </div>
</nav>
    <h2>Daftar Pengajuan Surat Keterangan Usaha (SKU)</h2>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Nama Lengkap</th>
            <th>NIK</th>
            <th>Status</th>
            <th>Tanggal Dibuat</th>
            <th>Aksi</th>
        </tr>
        {% for item in daftar %}
        <tr>
            <td>{{ item.nama_lengkap }}</td>
            <td>{{ item.nik }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.tanggal_dibuat }}</td>
            <td><a href="{% url 'detail_pengajuan_sku' item.pk %}">Detail</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Belum ada pengajuan.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
